@import 'styles.css'; 

#imagenprincipal {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

#txtinicio {
    width: 100%;
    display: grid;
    position: absolute;
    top: 300px;
    padding-left: 5vw;
    padding-right: 5vw;
    color: white;
    font-family: 'Regal';

    #btn-properties {
        text-align: end;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        border: solid 1px white;
        border-radius: 50px;
        width: 250px;
        color: white;
        background-color: transparent;
        font-family: 'Brandon';
        font-size: 15px;
    }
    #txt-primario{
        color: #B4B7B7;
        font-size: 30px;
    }
    #txt-secundario {
        font-family: 'Brandon light';
        font-size: 50px;
        
    }
    img {
        width: 25px;
        position: absolute;
        left: 10%;
        bottom: 7%;   
        transform: translateY(-10%); 
        justify-content: end;
    }

}

#redes {
    display: grid;
    grid-template-columns:   50px;
    justify-items: center;
    position: fixed;
    top: 150px;
    color: #7E7E7E;
   
    img {
        display: block;
        margin-top: 10px;
    }
    p {
        transform: rotate(90deg);
        transform-origin: center;
        display: inline-block;
        width: fit-content; /* O width: auto; */ 
        margin-bottom: 50%;
        font-family: 'Brandon';
    }
    #barra_redes {
        height: 100px;
        width: 2px;
        border-left: 1px solid;
        /* margin-left: 10px; */
    }
    
}

#busqueda {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    position: absolute;
    top: 100px;
    padding-right: 5%;
    justify-items: end;
}
#lupa{
    position: absolute;
    right: 80px;
    top: 50%;   
    transform: translateY(-50%); 
}
#buscador {
    background-color: transparent;
    border-radius: 50px;
    border: solid white 1px;
    padding: 10px 20px;
    color: white;
    width: 300px;
}
#buscador::placeholder {
    color: white;
}

#rayitas{
    display: none;
}

.contenedor-imagen {
    width: 100%;
    position: relative; 
    display: inline-block;
}

.cuadrado-transparente {
    position: absolute;  /* Posiciona el cuadrado de manera absoluta dentro del contenedor */
    top: 0px;           /* Ajusta la distancia desde la parte superior de la imagen */
    left: 0px;          /* Ajusta la distancia desde el borde izquierdo de la imagen */
    width: 100%;        /* Tamaño del cuadrado */
    height: 500px;       /* Tamaño del cuadrado */
    background-color: rgba(0, 0, 0, 0.5); /* Color negro con 50% de opacidad */
}

@media (max-width:1000px) {
    .cuadrado-transparente {
        height: 800px;       /* Tamaño del cuadrado */
    }

    #rayitas{
        width: 80px;
        justify-content: center;
        left: 50%;                  
        transform: translateX(-50%);
        position: absolute;
        top: 750px;   
        display: flex;
        gap: 20px; 
    }

    #redes {
        display: none;
    }

    #imagenprincipal {
        width: 100%;
        height: 800px;
        object-fit: cover;
    }
    #txtinicio {
        top: 500px;
        #flecha {
            position: absolute;
            left: 20%;
            bottom: 15% !important;   
            transform: translateY(-10%); 
            justify-content: end;
        }
    }

    #btn-properties {
        align-self: center;
        width: 100% !important;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
        text-align: center !important;
        font-size: 25px !important;
    }
    #busqueda {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
    #lupa {
        right: 60px !important;
    }
    #buscador {
        width: 100% !important;
        padding: 20px 40px !important;
    }
    
    

}